.container {
	max-width: 1181px;
	height: 548px;
	margin: 22px auto 20px;
	background-color: #ffffff;
	border-radius: 5px;

	.top {
		padding: 22px 23px 35px 28px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		.title {
			font-size: 24px;
			margin: 0;
			font-weight: 400;
		}

		.closeBtn {
			padding: 0;
			background-color: transparent;
			border: none;
			cursor: pointer;
			font-size: 30px;
			color: #000000;

			&:active {
				color: #0079bf;
			}
		}
	}

	.textarea {
		max-height: 55vh;
		overflow-y: auto;
		min-width: 620px;
		resize: none;
		margin-left: 30px;
		font-size: 18px;
		font-family: 'Roboto';
		text-transform: capitalize;
		outline: none;
		border: none;
	}
}

@media (max-width: 1250px) {
	.container {
		margin: 85px 100px;

		.textarea {
			min-width: 390px;
		}
	}
}

@media (max-width: 625px) {
	.container {
		margin: 85px 25px;

		.top {
			padding: 10px;
		}

		.textarea {
			min-width: 270px;
		}
	}
}

@media (max-width: 500px) {
	.container {
		.textarea {
			margin: 10px;
			padding: 0;
		}
	}
}
